volumes:
  ollama_storage:
  db_data:
  redis_db: 
services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    restart: always

  db:
    image: postgres:15-alpine
    container_name: litellm_db
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U litellm_user -d litellm"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  redis:
    container_name: redis
    image: redis:7.2-alpine
    volumes:
      - redis_db:/data
    ports:
      - 6379:6379
    restart: always
  
  redis-insight:
    container_name: redis-insight
    image: redislabs/redisinsight:2.66
    env_file:
      - .env
    ports:
      - 5540:5540

  litellm:
    image: ghcr.io/berriai/litellm:main-latest
    container_name: litellm
    ports:
      - "4000:4000"
    volumes:
      - ./litellm/config.yaml:/app/config.yaml
    depends_on:
      db:
        condition: service_healthy
      ollama:
        condition: service_started
    command: [ "--config", "/app/config.yaml", "--port", "4000", "--detailed_debug"]
    env_file:
      - .env